/* reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  letter-spacing: 4px;
  vertical-align: baseline;
  font-family: "Noto Sans", "Noto Sans TC", sans-serif, serif;
  scroll-behavior: smooth;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}


/* navbar */
nav {
  padding: 2% 5%;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: #000;
  z-index: 150;
  max-width: 1898px;
  box-sizing: border-box;
  margin: 0 auto;
}

.navbar {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  margin: 0 auto;
  position: relative;
}

.navbar a {
  color: #fff;
  font-size: 0.9rem;
  margin-top: 5%;
}

.about-us-item {
  margin-right: 80px;
}

.navbar>li {
  display: none;
  align-self: center;
  position: relative
}

.navbar>li::after,
.cart-user-icon>a::after {
  background-color: #282828;
  content: '';
  position: absolute;
  width: 140%;
  height: 240%;
  border-radius: 25px;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  z-index: -1;
  display: none;
}

.navbar>li:hover::after,
.cart-user-icon>a:hover::after {
  display: block;
}

#user-pic {
  cursor:pointer;
}

#user-pic:hover::after {
  display: none;
}

.banner-title {
  line-height: 1.5;
  position: absolute;
  top: 150px;
  left: 10%;
  text-align: start;
  font-size: clamp(30px, 10vw, 50px);
  color: #fff;
  text-align: start;
  font-weight: 700;
}

/* drop down item */
.drop-down-menu {
  position: relative;
}

.drop-down-menu-items {
  width: 250%;
  background-color: #fff;
  display: none;
  position: absolute;
  top: 120%;
  left: 0;
}

.drop-down-menu-items a {
  color: #000;
  font-size: 14px;
  z-index: 6;

}

.drop-down-menu-items li {
  padding: 5%;
}

.drop-down-menu:hover .drop-down-menu-items {
  display: block;
}

.drop-down-menu-items li:hover {
  background-color: #f1f1f1;
  ;
}

.banner-go-down-btn {
  width: 140px;
  padding: 15px;
  position: absolute;
  top: 300px;
  left: 10%;
  border-radius: 10px;
  background-color: rgba(217, 217, 217, 0.3);
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.45);
  border: none;
  transition: 0.4s;
}

.banner-go-down-btn>a {
  font-size: 14px;
  color: #fff;
}

.banner-go-down-btn:hover {
  transform: scale(0.9);
}

.go-down-btn-arrow {
  transition: 0.4s linear;
}

.banner-go-down-btn:hover .go-down-btn-arrow {
  transform: rotate(90deg);
}

.banner-wave {
  position: absolute;
  width: 100vw;
  bottom: -1%;
}

.wave-img {
  width: 100%;
  height: 10vh;
  max-height: 100px;
  vertical-align: bottom;
}

/* burger menu */
#menu-toggle {
  position: relative;
  display: block;
  top: 2vh;
  left: 60%;
  z-index: 1;
  display: block;
}

#menu-toggle a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
  font-size: clamp(2rem, 1.5rem, 3rem)
}

#menu-toggle a:hover {
  color: #26a69a;
}

#menu-toggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -10px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 1000;
}

#menu-toggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #fff;
  border-radius: 3px;
  z-index: 999;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
}

#menu-toggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menu-toggle input:checked~span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #fff;
}

/*
 * But let's hide the middle one.
 */
#menu-toggle input:checked~span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menu-toggle input:checked~span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
.logo-image {
  width: 6rem;
  max-width: 120px;
}

#menu {
  position: absolute;
  width: 110vw;
  height: 110vh;
  margin: -100px 0 0 -50px;
  padding-top: 100px;
  padding-bottom: 20px;
  background: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(5px);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
  padding-top: 5px;
  font-size: clamp(10px, 2rem, 20px);
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}

.fa-brands {
  color: #fff;
}

#menu-toggle input:checked~ul {
  transform: none;
}

#menu:last-child::after {
  content: '';
  display: inline-block;
  position: absolute;
  right: 0;
  border: 1px solid #eee;
  width: 100%;
  z-index: 999;
  text-align: end;
}

.burg-social {
  margin: 5% auto;
}

.navtop {
  position: absolute;
  left: 1%;
  top: 2%
}

/* user and cart icon field */
.cart-user-icon {
  position: absolute;
  right: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
}

.nav-cart {
  color: #fff;
}

.cart-user-icon a {
  position: relative;
  width: 50%;
  justify-self: center;
  padding: 2px 5px;
}

.cart-user-icon a:first-child {
  margin-right: 5px;
}

#user-pic {
  display: none;
}
#cart-amount {
  color: #fff;
  background-color: red;
  padding: 20% 30%;
  border-radius: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 50%;
  left: 55%;
  font-size: 8px;
  width: 10px;
  letter-spacing: normal;
  z-index: 2;
}

.red-dot {
  width: 18px;
  height: 18px;
  position: absolute;
  padding: 10%;
  border-radius: 50%;
  background-color: red;
  color: #fff;
  top: -90%;
  left: 50%;
  z-index: 1;
  display: none;
}


/* footer section */
.footer-section {
  width: 100%;
  position: relative;
}

.footer-container {
  margin: 0 auto;
  width: 100%;
  max-width: 1898px;
  background-color: #000;
  padding: 5% 10%;
  box-sizing: border-box;
}

.footer-logo {
  width: 100%;
  text-align: start;
  margin-bottom: 8%;
  display: flex;
  gap: 10%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-logo>p {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  letter-spacing: 3px;
  align-self: center;
}

.social-icon-subtitle {
  text-align: center;
}

.social-icon {
  padding-bottom: 2%;
}

.subtitle {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.subtitle a {
  margin-top: 2%;
  color: #fff;
  font-size: 14px;
  padding-bottom: 2%;
}

.subtitle a:hover {
  color: #707070;
}

.subtitle-line {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-between;
  text-align: start;
}

.subtitle-line a {
  margin-bottom: 28px;
}

.subtitle a:first-child {
  margin-left: 0;
}

.social-icon {
  width: 50%;
  display: flex;
  text-align: start;
  justify-content: flex-start;

}

.social-icon>a {
  margin-left: 10%;
  position: relative;
  z-index: 2;
}

.social-icon>a:first-child {
  margin-left: 0;
}

.social-icon-location {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 5% 0 5% 0;
}

.social-icon-location p {
  color: #fff;
  font-size: 15px;
  letter-spacing: normal;
  cursor: pointer;
  margin-right: 10px;
  position: relative;
  z-index: 1;
}

.footer-bot-field {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: #AFAFAF;
  letter-spacing: normal;
  margin-top: 1%;
}

.social-icon a::before,
.company-location p::before {
  content: '';
  position: absolute;
  background-color: #282828;
  width: 200%;
  height: 200%;
  border-radius: 20px;
  top: -50%;
  left: -50%;
  z-index: -1;
  display: none;
}

.social-icon a:hover::before,
.company-location p:hover::before {
  display: block;
}

.copyright {
  letter-spacing: inherit;
}

.privacy-lines>a {
  text-decoration: none;
  color: #AFAFAF;
  letter-spacing: normal;
  font-size: 12px;
  margin-left: 10px;

}

@media screen and (min-width:1100px) {
  .navtop {
    display: none;
  }

  .navbar>li {
    display: block;
  }
}

@media screen and (max-width:1100px) {
  .navbar a {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
  }
}

@media screen and (max-width:500px) {
  .footer-logo>a {
    margin-bottom: 5%;
  }

  .subtitle {
    width: 80%;
  }
}