header {
    background-color: #000;
    width: 100%;
    max-width: 1898px;
    height: 40vh;
    position: relative;
    margin: 0 auto;
}

.news-list-field {
    width: 100%;
    max-width: 1898px;
    margin: 0 auto;
    padding: 2% 10%;
    box-sizing: border-box;
    text-align: start;
}

.news-title {
    position: absolute;
    top:70%;
    left: 10%;
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 6px;
    padding-bottom: 2%;
    color:#fff;
    font-family: "Helvetica Neue Neue", Helvetica, Arial, sans-serif;
}
.news-items-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap:1%;
    box-sizing: border-box;
    padding: 3% 0;
    
}
.news-item-card {
    width: calc(98% / 3 );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1%;
    margin-bottom: 3%;
    box-sizing: border-box;
    color: #77797A;
    font-weight: 600;
    font-family: "Helvetica Neue Neue", Helvetica, Arial, sans-serif;
}
.news-item-card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.news-cover-img {
    width: 100%;
    overflow: hidden;
}

.news-cover-img img {
    width: 140%;
    object-fit: cover;
}
.news-content {
    width: 100%;
    padding: 5%;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position:relative;
    background-color: #F8F8F9;
}

.news-content-title {
    font-size: 0.9rem;
    color: #333;
    margin-bottom: 2%;
}

.news-content p {
    font-size: .8rem;
    line-height: 20px;
    margin-bottom: 5%;
}
.news-date {
    align-self: flex-start;
    font-size: 0.8rem;
    letter-spacing: 1.5px;
}
.news-content a {
    font-size: .9rem;
    display: block;
    padding-bottom: 1%;
    text-align: end;
    color: #000;
    font-weight: 400;
    margin-top: 5%;

}

.change-page-field {
    width: 70%;
    max-width: 500px;
    position: relative;
    margin: 0 auto 5% auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
}

.news-page-num span {
    display: inline-block;
    color: #7A7A7A;
    cursor: pointer;
}

.news-page-num {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.news-page-num {
    width: 50%;
    margin: 0 auto;
}

.actived {
    background-color: #F1F1F1;
    padding: 5%;
}
.change-page-field button {
    width: 15%;
    display: inline-block;
    background-color: transparent;
    color: #26a69a;
    font-weight: 500;
    border: none;
    cursor:pointer;
    transition:all 0.3s ease-in-out;
    position: relative;
}

.change-page-right-btn::after {
    content:'>';
    right:-10px;
    top:50%;
    transform: translateY(-50%);
    position: absolute;
} 

.change-page-left-btn::before {
    content:'<';
    left: -10px;
    top:50%;
    transform: translateY(-50%);
    position: absolute;
} 

/* 斷點1024px */
@media screen and (max-width:1024px) {
    .news-items-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 5%;
    }
    .news-item-card {
        width: 45%;
        flex-direction:column;
        border-bottom: none;
        margin-top: 2.5%;
        background-color: #F8F8F9;
        padding: 0 0 5% 0;
        justify-content: flex-start;
        border-radius:5px;
    }
    .news-content {
        width: 100%;
        order:3;
        padding: 0 5%;
        box-sizing: border-box;
    }
    .news-content-title {
        margin-bottom: 5%;
    }
    .news-content a {
        right:5%;
    }
    .change-page-field {
        width: 70%;
    }
}
@media  screen and (max-width:678px) {
    .news-item-card {
        width: 100%;
    }
    .change-page-field {
        width: 80%;
    }
    .news-cover-img{
        height: 400px;
    }
}
