header {
    background-image: url(../images/news-content-images/header-bgi.jpg);
    width: 100%;
    max-width: 1898px;
    height: 50vh;
    margin: 0 auto;
    background-repeat: no-repeat;
}

main {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 5%;
    box-sizing: border-box;
    text-align: start;
}
.news-content-header{
    font-size: 2rem;
    font-size: bold;
    border-bottom: 1px solid #C0B9B9;
    padding-bottom: 20px;
    margin-bottom: 50px;
}
.news-img-container {
    width: 75%;
    margin:0 auto 40px auto;
    position: relative;
    z-index: 2;
}
.news-img{
    width: 100%;
}
.news-img-container::after {
   content:'';
   background-color: #26a69a;
   width:120%;
   height: 100%;
   top:-35px;
   left: -10%;
   position: absolute;
   z-index: -1;
}
.news-img-container::before {
    content:'';
    background-color: #18C0C8;
    opacity: .55;
    width:50%;
    height: 10%;
    bottom:-15px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    z-index: 1;
 }
.news-content-title {
    font-size:32px;
    line-height: 36px;
    margin-bottom: 15px;
    font-weight: 500;
}
.news-pulish-date {
    font-size: 0.9rem;
    color:#C0B9B9;
    letter-spacing: 2px;
    margin-bottom: 15px;
    letter-spacing:-0.32px
}
.news-content {
    width: 100%;
    color:rgb(32, 34, 36);
    font-size: 18px;
    font-weight:400;
    margin-bottom: 50px;
    line-height: 26px;
    letter-spacing:-0.36px
}
.go-back-btn {
    display: block;
    text-align: end;
    margin-top: 80px;
    color:black;
    transition:0.4s ease;
}
.go-back-btn:hover {
    display: block;
    margin-right:10px;
}
@media screen and (max-width:768px) {
    main {
        padding: 10% 5% 10% 5%;
    }
}

@media screen and (max-width:500px) {
    .news-content-title {
        font-size:28px;
    }
    .news-img-container::after {
        display: none;
    }
    main {
        padding:5% 2.5%;
        padding-bottom: 15%;
    }

    .news-img-container {
        width: 100%;
    }

    .news-img-container::after {
        width: 110%;
        margin: 0 auto;
        left: .5%;
    }
}