* {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: normal;
    line-height: 20px;
    color: #000;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section,
main {
    width: 100%;
    padding: 0;
    padding-left:5% ;
    max-width: 1898px;
    margin: 0 auto;
}

header {
    background-color: #000;
    height: 50vh;
    width: 100%;
    position: relative;
    max-width: 1898px;
    margin: 0 auto;
}

header h1 {
    color: #fff;
    font-size: 2.5rem;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
}
.product-preview-wrapper {
    display:flex;
    flex-wrap:wrap;
}
.product-preview-area {
    width: 50%;   
    display: flex;
    flex-direction: column;
    padding: 5% 0;
}
.main-image {
    width: 80%;
    
}
.main-image img {
    width: 100%;
    margin-bottom: 5%;
}
.preview-product-images {
    width: 100%;
    display: flex;
    gap:5%
}
.preview-product-image {
    width: 15%;
    cursor: pointer;

}
.preview-product-image img {
    width: 100%;
}

.product-info-area {
    width: 50%;
    background-color: #F0F2F9;
    padding: 5%;
    padding-right: 10%;
}
/* product information field */
.product-brand {
    font-size: 14px;
    color:#A09E9E;
    margin-bottom: 5%;
}
.product-name {
    font-size: 16px;
    color:#000;
    font-weight: 600;
    margin-bottom: 5%;
}
.reviews {
    font-size: 14px;
    color:#1D2B53;
    font-weight: 600;
    cursor:pointer;
    margin-bottom: 5%;
}
.product-ranking {
    margin-left: 5px;
   
}
.product-comments {
    color:#A09E9E;
    font-size:12px;
}
label {
    display: inline-block;
    margin-top: 5%;
    margin-bottom: 5%;
}
.product-describe {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 26px;
    margin: 5% 0;
    margin-top: 0;
}
#product-amount-field {
    margin: 5% 0;
    margin-top: 0;
}
.product-price-tag {
    font-size: 28px;
    letter-spacing: 3px;
    margin: 5% 0;
}
#product-amount-field button {
    padding: 1.5% 2.5%;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;

}
.amount-minus {
    background-color: #fff;
    border:1px solid #26A69A;
}
.amount-plus {
    border:none;
    color:#fff;
    background-color: #26A69A;
}
input[type="number"] {
    width: 15%;
    background-color: transparent;
    border:none;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}
.btns-field {
    display: flex;
    gap: 5%;
    border-bottom: 1px solid #BFBDBD;
    padding-bottom: 5%;
}
.go-back-btn,.add-cart-btn {
    display: inline-block;
    width:40%;
    padding: 2%;
    border:none;
    border-radius: 10px;
    color:#fff;
    cursor: pointer;
}
.go-back-btn {
    background-color: #FFF;
    color:#26A69A;
}
.go-back-btn:hover {
    background-color:#f5f5f5;
}
.add-cart-btn {
    background-color: #26A69A;
}
.add-cart-btn:hover {
    background-color:#368b82 ;
}
.product-detail-info-field {
    width: 100%;
}
.product-detail-info-field label {
    display: block;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    padding-bottom:4%;
    justify-content: space-between;
    border-bottom:1px solid #BFBDBD ;
}
.product-detail-info-field label input[type='checkbox'] {
    display:none;
    transition: .3s;
}
.product-size-detail-info-content,.product-detail-info-content{
    width: 100%;
    display: none;
    margin-top: 10px;
    letter-spacing: 2.5px;
    transition: .3s ease-in-out;
    
}
#product-detail-describe:checked ~ .product-detail-info-content {
    display: block;
}
#product-size-detail-describe:checked ~ .product-size-detail-info-content {
    display: block;
}
@media screen and (max-width:1100px) {
    main,section {
        padding: 0;
    }
    .product-preview-area  {
        width: 100%;
        margin: 0 auto;
        padding: 5%;
    }
    .main-image {
        margin: 0 auto;
        width: 70%;
    }
    .preview-product-images {
        justify-content: center;
        gap: 10%;
    }
    .product-info-area {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    .btns-field  {
        justify-content: center;
    }
}

@media screen and (max-width:600px) {
    .product-preview-area{
        padding:5% 2.5%;
    }

    .main-image {
        width: 100%;
    }
}