:root {
    --first-color: #26a69a;
    --second-color: #30E3CA;
    --title-color: #313131;
    --text-color: #fff;
    --box-shadow: 0 5px 25px rgba(2, 2, 2, 0.1) --text-shadow:0 5px 25px rgba(2, 2, 2, 0.1)
}

header {
    background-image: url(images/production-images/product-img-m.jpg);
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    position: relative;
}

.main-container {
    position: relative;
    width: 90vw;
    padding: 5% 5vw;
    transition: .5s ease;
}

.header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    color: var(--text-color);
    font-size: clamp(20px, 2.9rem, 50px);

}

/* ========= Tab Navigation bar ========= */
.banner-field {
    background-image: url(../images/production-images/product-img-m.jpg);
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    position: relative;
}

.banner-field>h1 {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translateX(50%);
    font-size: 30px;
    color: #fff;
}

.tab-navbar {
    margin: 65px 10px 40px 10px;
}

.tab-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
    margin: 0 auto;
    position: relative;
}

.tab-menu {
    color: var(--text-color);
    list-style: none;
    background-color: var(--first-color);
    width: 100%;
    max-width: 440px;
    padding: 10px;
    white-space: nowrap;
    border-bottom: 1px solid var(--text-color);
    border-radius: 50px;
    box-shadow: var(--box-shadow);
    overflow-x: auto;
    user-select: none;
    margin: 0 auto;
    scroll-behavior: smooth;
}

.tab-menu.dragging {
    scroll-behavior: unset;
    cursor: grab;

}

.tab-menu::-webkit-scrollbar {
    display: none;
}

.tab-btn {
    color: var(--text-color);
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    margin: 0 2px;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s ease;
}

.tab-menu.dragging .tab-btn {
    pointer-events: none;
}

.tab-btn:hover {
    background-color: var(--title-color);
}

.tab-btn.actived {
    background-color: var(--second-color);
}

.left-btn,
.right-btn {
    position: absolute;
    color: var(--text-color);
    font-size: 1rem;
    border: 50px;
    padding: 10px;
    cursor: pointer;
}

.left-btn {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(to left, transparent, var(--first-color));

}

.right-btn {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(to right, transparent, var(--first-color));
}

/* good cards */

.card {
    background-color: var(--first-color);
    border-radius: 10px;
    color: var(--text-color);
    max-width: 300px;
    margin: 20px auto;
    margin-top: 20px;
    padding-top: 20px;
    position: relative;
}

.img-container img {
    width: 100%;
}

.card-content {
    text-align: center;
    padding: 20px;
    margin-bottom: 60px;
}

.add-cart-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 13px;
    position: absolute;
    bottom: 3%;
    right: 50%;
    transform: translateX(50%);
}

.good-name {
    font-size: 12px;
    margin-bottom: 60px;
}

.price {
    align-content: center;
    font-size: 14px;
}

.add-cart-btn {
    color: #000;
    width: 200px;
    padding: 12px;
    border-radius: 50px;
    background-color: var(--text-color);
    border: none;
    font-size: 10px;
    font-weight: 400;
    transition: .4s;
    align-content: center;

}

.add-cart-icon {
    transition: .4s;

}

.add-cart-btn:hover {
    transform: scale(0.9);
}

.add-cart-btn:hover .add-cart-icon {
    transform: translateX(5px);

}

.card-container {
    content-visibility: hidden;
    opacity: 0;
    transform: translateY(25px);
}

.actived-section {
    content-visibility: visible;
    opacity: 1;
    transition: 1s ease;
    transform: translateY(0);

}

.added-cart {
    width: 140px;
    padding: 10px;
    border-radius: 50px;
    background-color: #e24747;
    border: none;
    font-size: 12px;
    font-weight: 400;
    transition: .4s;
    color: #fff;
    justify-content: center;
}

i {
    font-weight: 300;
    font-size: 12px;
}

@media screen and (min-width:768px) {
    header {
        background-image: url(/images/production-images/product-img-tc.jpg);
        background-repeat: no-repeat;
        background-position: center;
        width: 100vw;
        height: 400px;
    }

    .tab-content {
        width: 100%;
    }

    .card-container {
        display: flex;
        flex-wrap: wrap;
        gap: 5%;
        align-content: flex-start;
        max-width: 800px;
        margin: 0 auto;
    }

    .card {
        width: 40%;
    }

    .good-name {
        font-size: 14px;
        margin-bottom: 5px;
        line-height: 1.2;
    }

}

@media screen and (min-width:1200px) {
    header {
        background-image: url(/images/production-images/product-img-pc.jpg);
        height: 500px;
    }

    .card-container {
        max-width: 1300px;
        margin: 0 auto;
        justify-content: flex-start;
    }

    .card {
        width: 23.3333%;
        align-items: start;
    }

    .add-cart-btn {
        width: 150px;
        font-size: 12px;
    }
}