* {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: normal;
    line-height: 20px;
    color: #000;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section,
main {
    width: 100%;
    padding: 8% 5%;
    max-width: 2000px;
    margin: 0 auto;
}

header {
    background-color: #000;
    height: 50vh;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 2000px;
    margin: 0 auto;
    position: relative;
}

header h1 {
    color: #fff;
    font-size: 2.5rem;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
}

.sub-navbar {
    background-color: #F8F8F8;
    padding: 5% 0;
    width: 80%;
    margin: 0 auto;
    position: static;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 10%;
}

main {
    padding: 0 5%;
}

.production-type-btns {
    width: 60%;
    display: flex;
    gap: 5%;
    justify-content: space-around;
}

.production-type-btns {
    cursor: pointer;
}

.production-search-field {
    width: 30%;
}

.production-search-field {
    position: relative;
}
.magnifying-glass-wrapper,
.search-field-trigger {
    display: inline-block;
    padding: 2.2%;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #000;
    position: absolute;
    top: -55%;
    left: 0;
    border: none;
    background-color: #F7F7F7;
    z-index: 2;
}
.search-field-trigger {
    display: none;
}
.production-search {
    position: absolute;
    width: 100%;
    padding: 2.5% 5% 2.5% 13%;
    border-radius: 50px;
    background-color: #F7F7F7;
    border: none;
    outline: none;
    z-index: 1;
    top: -55%
}

input[type="text"]:hover {
    background-color: #e4e4e4;
}

/* 搜尋手機版 */
.search-field-sm-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 110;
    display: none;
}

.search-field-sm {
    width: 100%;
    height: 40%;
    position: fixed;
    top: 0%;
    background-color: #fff;
    padding: 5%;
}

.magnifying-glass-sm {
    padding: 5%;
    position: absolute;
    top: 10%;
}

#production-search-sm {
    display: block;
    width: 80%;
    padding: 1.5% 7%;
    position: absolute;
    top: 30%;
    z-index: 1;
    border-radius: 25px;
    border: none;
    outline: none;
    background-color: #F7F7F7;
}

.search-submit-btn {
    position: absolute;
    z-index: 2;
    background-color: #F7F7F7;
    border: none;
    padding: 1.5%;
    border-radius: 50%;
    top: 30%;
    left: 5%;
    cursor: pointer;
}

#production-search-sm:hover {
    background-color: #E5E5E5;
}

.close-search-field-btn {
    position: absolute;
    right: 8%;
    top: 33.3%;
    color: #000;
    font-weight: 400;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* 篩選 */
.sort-options-lg {
    display: inline-block;
    position: relative;
    cursor: pointer;
    background-color: #fff;
    border: none;
}

.sort-options-sm {
    display: none;
    position: relative;
    cursor: pointer;
    background-color: #fff;
    border: 1.2px solid #ddd;
    padding: 10px 20px;
    border-radius: 20px;
}

.sort-options-sm:hover {
    border: 1px solid #000;
}

.toggle-dropdown {
    width: 220%;
    position: absolute;
    top: 100%;
    background-color: #fff;
    padding: 30% 30% 10% 10%;
    text-align: start;
    border-bottom-left-radius: 20px;
    display: none;
    transition: .32s;
}

.toggle-dropdown-sm {
    width: 150%;
    height: 100%;
    position: fixed;
    bottom: 0%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: start;
    z-index: 100;
    display: none;
    cursor: pointer;
}

.toggle-dropdown-sm ul {
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: -100%;
    left: 0;
    background-color: #fff;
    padding: 5% 2%;
    transition: bottom 0.3s ease-in-out;
    cursor: default;
}

.toggle-dropdown-sm ul li {
    margin-top: 20px;
    cursor: pointer;
    color: #000;
    font-weight: 400;
}

.fa-chevron-down,
.chevron-down-sm {
    transition: transform 0.3s ease-in-out;
}

.toggle-chevron-up {
    transform: rotate(-180deg);
}

.toggle-dropdown li {
    cursor: pointer;
    margin-bottom: 5%;
    color: #000;
    font-weight: 400;
}

.close-dropDown-btn {
    padding: 5px 6px;
    background-color: transparent;
    position: absolute;
    top: 5%;
    left: 62%;
    margin: 0;
}

.fa-x {
    margin: 0 auto;
}

.toggle-dropdown li:hover,
.toggle-dropdown-sm li:hover {
    color: #8f7d7d;
}

.production-cards-wrapper {
    padding-top: 5%
}

.production-cards-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.current-display-products-title {
    font-size: 1.3rem;
}

.fa-chevron-down,
.fa-chevron-up {
    margin-left: 5px;
}

/* product display area */
.production-cards-display-area {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    padding: 3% 0;
}

.production-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc((100% - 4%) / 3);
    margin-bottom: 5%;

}

.production-card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.production-card-img {
    width: 100%;
}

.production-card-img img {
    width: 100%;
}

.product-card-content {
    width: 100%;
    padding: 5%;
    height: 165px;
    background-color: #F8F8F9;
}

.product-card-content p,
.product-card-content h3 {
    margin-bottom: 2%;
    font-size: 1rem;
    letter-spacing: normal;
}

.production-tag {
    color: #9E3401;
    font-size: 14px;
}

/* 分頁 */
.change-page-field {
    width: 70%;
    max-width: 500px;
    position: relative;
    margin: 0 auto 5% auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
}

.news-page-num span {
    display: inline-block;
    color: #7A7A7A;
    cursor: pointer;
}

.news-page-num {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.news-page-num {
    width: 50%;
    margin: 0 auto;
}

.actived {
    background-color: #F1F1F1;
    padding: 5%;
}

.change-page-field button {
    width: 15%;
    display: inline-block;
    background-color: transparent;
    color: #26a69a;
    font-weight: 500;
    border: none;
    cursor: pointer;
    position: relative;
}

.change-page-right-btn::after {
    content: '>';
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}

.change-page-left-btn::before {
    content: '<';
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}
/* 沒有找到商品圖片 */
.no-product-img {
   display: inline-block;
   margin: 0 auto;
}
/* BreakPoint 1100px */
@media screen and (max-width:1100px) {
    main {
        padding: 0;
    }

    .production-cards-wrapper {
        padding: 8% 0%;
    }

    .production-card {
        width: calc((100% - 4%) / 3);
    }

    .sort-options-lg {
        display: none;
    }

    .sort-options-sm {
        display: inline-block;
    }

    .production-cards-header {
        padding: 0 5%;
    }

    .production-search-field {
        width: 10%;
    }

    .magnifying-glass-wrapper {
        display: none;
    }

    .search-field-trigger {
        padding: 8%;
        top: -30%;
        display: block;
    }

    .search-field-trigger:hover {
        background-color: #e4e4e4;
    }

    .production-search {
        display: none;
    }
    
}

/* BreakPoint 768px */
@media screen and (max-width:768px) {
    .production-card {
        width: 49%;
    }

    .production-cards-wrapper {
        padding: 8% 0%;
    }

    .sub-navbar {
        width: 100%;
    }
}

@media screen and (max-width:400px) {
    .change-page-field {
        width: 90%;
        margin: 0 auto;
    }
}